<%!
from datetime import datetime
ABOUT_NAV_PATHS = (
  "/about/",
  "/policies/",
  "/holidays/",
  "/dress-code/",
  "/faculty/",
  "/contact/",
)
PROGRAMS_NAV_PATHS = (
  "/programs/",
  "/camps/",
  "/pilates/",
  "/adult-fitness/",
  "/tuition/",
  "/schedule/",
)
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%block name="meta_description"><meta name="description" content="Flying Colors Dance in Hollister, Ca. provides children's dance lessons and adult fitness classes. Pilates, Zumba, jazz, ballet, tap, and hip-hop."></%block>
    <meta name="keywords" content="Hollister, California, Dance, Lesson, Studio, Jazz, Ballet, Hip Hop, Contemporary, Pilates, Zumba, Amy, Redmond, Waran">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Flying Colors Dance">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msvalidate.01" content="C65B57D6723C71AFE5F91FF1395DB548" />

    <!-- Flying Colors Dance is located in Hollister, California. We provided children's jazz, ballet, tap hip-hop and creative movement classes to age ranges 2 and up. Adult classes include Ballet, Pilates and Zumba -->

    <title>Flying Colors Dance & Fitness - Hollister</title>

    <%block name="css">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap${ ".min" if not DEBUG else "" }.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </%block>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#"><img src="/static/img/logo.png" alt="Flying Color Dance Studio Pilates Barre & Zumba in Hollister, Ca"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav nav-left">
              <li ${ 'class="active"' if request.path == '/' else '' }><a href="/">Home</a></li>
              <li class="${ 'active' if request.path in ABOUT_NAV_PATHS else '' } dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about/">Studio</a></li>
                  <li><a href="/policies/">Policies</a></li>
                  <li><a href="/holidays/">Holidays</a></li>
                  <li><a href="/dress-code/">Dress Code</a></li>
                  <li><a href="/faculty/">Faculty</a></li>
                  <li><a href="/contact/">Contact Us</a></li>
                  <li><a href="http://flyingcolors.schoolempower.com/ecommerce">Studio Store</a></li>
                </ul>
              </li>
            </ul>
            <a href="#" class="logo visible-lg visible-md"><img src="/static/img/logo.png" alt="Flying Colors Dance & Fitness Logo"></a>
            <a href="#" class="logo logo-small visible-sm visible-xs"><img src="/static/img/logo.png" alt="Flying Colors Dance & Fitness Logo"></a>
            <div id="brand" class="visible-lg visible-md">&nbsp;</div>
            <ul class="nav navbar-nav nav-right">
              <li class="${ 'active' if request.path in PROGRAMS_NAV_PATHS else '' } dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/programs/">Children's Dance</a></li>
                  <li><a href="/camps/">Summer Camps</a></li>
                  <li><a href="/pilates/">Pilates</a></li>
                  <li><a href="/adult-fitness/">Adult Fitness</a></li>
                  <li><a href="/tuition/">Tuition</a></li>
                  <li><a href="/schedule/">Schedule</a></li>
                </ul>
              </li>
              <li><a href="http://blog.flyingcolorsdance.com/">Blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    ${ self.body() }


    <!-- begin:footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12" itemscope itemtype="http://schema.org/LocalBusiness">
                    <h3 itemprop="name">Flying Colors Dance & Fitness</h3>

                    <ul class="list-unstyled social-icon">
                      <li><a href="http://www.facebook.com/flyingcolorsdanceandfitness" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>
                      <li><a href="http://www.pinterest.com/flyingcolorsfit" title="Pinterest" class="icon-pinterest"><span><i class="fa fa-pinterest"></i></span></a></li>
##                      <li><a href="#" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
##                      <li><a href="#" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
##                      <li><a href="#" title="GPlus" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
                      <li><a href="http://instagram.com/flyingcolorsdance" title="Instagram" class="icon-instagram"><span><i class="fa fa-instagram"></i></span></a></li>
                    </ul>

                    <div class="sitemap">
                      <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>
                      </ul>
                      <ul>
                        <li><a href="tel:18312074325" itemprop="telephone">(831) 207 - 4325</a></li>
                      </ul>
                      <ul>
                        <li><a href="mailto:flyingcolorsdance@gmail.com" itemprop="email">flyingcolorsdance@gmail.com</a></li>
                      </ul>
                    </div>
                      <span class="hidden" itemprop="description">Flying Colors Dance & Fitness provides a friendly environment where both adults and children can learn the art of dance and achieve their personal fitness goals.</span>
                      <span class="hidden" itemprop="map">https://www.google.com/maps/place/Flying+Colors+Dance+%26+Pilates/@36.884764,-121.39739,15z/data=!4m2!3m1!1s0x0:0xde7cd0a9a118920f</span>
                      <p class="hidden" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                        <span itemprop="name">Flying Colors Dance & Fitness Studio</span>
                        <span itemprop="latitude">36.884764</span>
                        <span itemprop="longitude">-121.39739</span>
                      </p>
                      <p class="hidden"><strong>Owner:</strong> <span itemprop="founder">Amy Redmond Waran</span></p>
                      <p class="hidden"><strong>Address</strong>:</p>
                      <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                          <p itemprop="streetAddress">1700 Lana Way</p>
                          <span itemprop="addressLocality">Hollister</span>,
                          <span itemprop="addressRegion">CA</span>
                          <span itemprop="postalCode">95023</span>
                      </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end:footer -->

    <!-- begin:copyright -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <small>Copyright &copy; ${ datetime.today().year } Flying Colors Dance All Rights Reserved.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small>
                      Images care of <a href="https://www.facebook.com/Christinabonillacheekfotos">cBc Fotos</a> and Kaitlyn Redmond<br>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!-- end:copyright -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%block name="jsdefer">
    <script src="/static/js/jquery${ "-1.11.1.min" if not DEBUG else "" }.js"></script>
    <script src="/static/js/bootstrap${ ".min" if not DEBUG else "" }.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/static/js/gmap3.js"></script>
    <script src="/static/js/script.js"></script>
    </%block>

    <!-- Google Analytics -->
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5071017-8', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </body>
</html>